#wrapper {
  margin: 200px auto;
  width: 500px;
  height: 500px;
  #submitBtn {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    font-weight: bold;
  }
  #input_city {
    width: 320px;
  }
  .card {
    width: 400px;
  }
  .temp {
    font-size: 2em;
    color: gray;
  }
  .day {
    width: 150px;
    height: 200px;
    border: 1px solid #eec0c6;
    border-radius: 5px;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

    margin-left: 3px;
  }
}

.icon {
  width: 150px;
}
